.main-div{
    width: 300px;
    height: 400px;
    margin: 50px auto;
    padding: 10px;
    border: 3px solid #dadb9b;
    border-radius: 12px ;
    overflow: scroll;
    
    
    
}
.sara{
    background-color: rgb(234, 229, 223);
    border-radius: 12px ;
    padding-left: 8px;
    padding-bottom: 8px;
}
.sara h3{
    color: chocolate;
}

.nana{
    background-color: rgb(234, 229, 223);
    border-radius: 12px ;
    padding-left: 8px;
    padding-bottom: 8px;
}
.nana h3{
    color: chocolate;
}

.sayed{
    background-color: rgb(234, 229, 223);
    border-radius: 12px ;
    padding-left: 8px;
    padding-bottom: 8px;
}
.sayed h3{
    color: chocolate;
}

.ali{
    background-color: rgb(234, 229, 223);
    border-radius: 12px ;
    padding-left: 8px;
    padding-bottom: 8px;
}
.ali h3{
    color: chocolate;
}

.taha{
    background-color: rgb(234, 229, 223);
    border-radius: 12px ;
    padding-left: 8px;
    padding-bottom: 8px;
}
.taha h3{
    color: chocolate;
}


.three{
    width: 450px;
    background-color: rgb(232, 222, 222);
    padding-top: 10px;
    padding-left: 50px;
    margin: 50px auto;
}

.cors{
    width: 350px;
    padding-left: 20px;
}

.mark{
    position: relative;
    color: darkgreen;
    
}

.mark::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 90px;
    background-color: brown;
  
    top: 35px;
}

.name{
    color: firebrick;
    padding-bottom: 10px;
    padding-left: 20px;
    font-style: italic;
}